[submodule "deps/xtl"]
	path = deps/xtl
	url = https://github.com/xtensor-stack/xtl.git
[submodule "deps/xtensor"]
	path = deps/xtensor
	url = https://github.com/xtensor-stack/xtensor.git
[submodule "deps/xsimd"]
	path = deps/xsimd
	url = https://github.com/xtensor-stack/xsimd.git
[submodule "deps/stb"]
	path = deps/stb
	url = https://github.com/nothings/stb.git
[submodule "deps/imgui"]
	path = deps/imgui
	url = https://github.com/ocornut/imgui.git
